.e26_22 { 
	background-color:#BE3853;
	width:1497px;
	position:absolute;
	height:2967px;
}
.e27_105 { 
	width:530px;
	height:223px;
	position:absolute;
	left:670px;
	top:0px;
	background-image:url(images/large_862393567_ladygaga_chromaticalogo_png_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_110 { 
	color:rgba(255, 100.00000163912773, 95.00000193715096, 1);
	width:121px;
	height:23px;
	position:absolute;
	left:91px;
	top:200px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e33_185 { 
	width:522px;
	height:524px;
	position:absolute;
	left:1200px;
	top:519px;
	background-image:url(images/81le2r1yagl_2.png);
    
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_186 { 
	color:rgba(0, 0, 0, 1);
	width:900px;
	height:516px;
	position:absolute;
	left:250px;
	top:540px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e33_187 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:178px;
	position:absolute;
	left:250px;
	top:1137px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e33_188 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:109px;
	position:absolute;
	left:250px;
	top:1770px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_189 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:142px;
	position:absolute;
	left:250px;
	top:2088px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_190 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:109px;
	position:absolute;
	left:250px;
	top:2502px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_191 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:224px;
	position:absolute;
	left:250px;
	top:2662px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_192 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:170px;
	position:absolute;
	left:250px;
	top:2281px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_193 { 
	color:rgba(0, 0, 0, 1);
	width:1430px;
	height:107px;
	position:absolute;
	left:250px;
	top:1930px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:17px;
	letter-spacing:0;
}
.e33_194 { 
	width:459px;
	height:432px;
	position:absolute;
	left:720px;
	top:1315px;
	background-image:url(images/chromatica___png_by_warhol_killer_1000x1000_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_195 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:283px;
	height:81px;
	position:absolute;
	left:500px;
	top:261px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e33_196 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:283px;
	height:81px;
	position:absolute;
	left:1060px;
	top:261px;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e16_16 { 
	color:rgba(0, 0, 0, 1);
	width:760px;
	height:41px;
	position:absolute;
	left:600px;
	top:2865px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e1_12 { 
	width:47px;
	height:50px;
	position:absolute;
	left:540px;
	top:2861px;
	background-image:url(images/large_555768923_pinksine_png_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_203 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:1420px;
	top:1056px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
